@import url("./common.css");

.topbar, #edit {
	text-align: center;
}

#edit {
	width: 15vw;
	order: 2;
}

.users {
	min-height: 100vh;
}

.user {
	margin: 0.5rem;
}

.user img {
	max-width: 100px;
	border-radius: 10px;
}